In [1]:
# Dependencies

import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Import CSV file as a dataframe
TABLE_PATH = 'vine_table.csv'

vine_df = pd.read_csv(TABLE_PATH)

vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3DT59XH7HXR9K,5.0,0.0,0.0,N,Y
1,R1LFS11BNASSU8,5.0,0.0,1.0,N,Y
2,R296RT05AG0AF6,5.0,0.0,0.0,N,Y
3,R3V37XDZ7ZCI3L,5.0,0.0,1.0,N,Y
4,R14GU232NQFYX2,5.0,0.0,0.0,N,Y

In [4]:
# Check the data

vine_df.shape

#vine_df.info()

(9760932, 6)

Filter The Vine dataframe

In [5]:
# Select products with more than 20 total ratings

filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]

filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y

In [9]:
# Find the rows where helpful_votes make up more than 50% of the toal_votes

helpful_df = filtered_vine_df.loc[filtered_vine_df.helpful_votes / filtered_vine_df.total_votes >= 0.5]

helpful_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y

In [10]:
# Seperate the reviews based on if they are part of the Vine program (paid reviews vine  = Y, unpaid reviews vine = 'N'

vine_reviews_df = helpful_df[helpful_df['vine'] == 'Y']
not_vine_reviews_df = helpful_df[helpful_df['vine'] == 'N']

vine_reviews_df.head()
not_vine_reviews_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
18,R28RB82UG4RDD5,5.0,20.0,20.0,N,Y
233,R3FB6BERWPEIJP,4.0,40.0,43.0,N,Y
615,R1D4Z38STRDQXK,5.0,53.0,56.0,N,Y
1065,R1XMWJZICINIFX,3.0,20.0,21.0,N,Y
1105,R20QKY1GABXFLM,1.0,272.0,297.0,N,Y

In [15]:
# Determin total numbe of reviews vine vs not_vine

vine_count = len(vine_reviews_df)
not_vine_count = len(not_vine_reviews_df)

print('Total number of vine reviews: {}'.format(vine_count))
print('Total number of not vine reviews: {}'.format(not_vine_count))
print('Total number of reviews: {}'.format(vine_count + not_vine_count))

Total number of vine reviews: 2414
Total number of not vine reviews: 195678
Total number of reviews: 198092

In [20]:
# Count the Five Star rating for both subsets of reviews

five_star_vine_count = len(vine_reviews_df[vine_reviews_df['star_rating'] == 5])
five_star_vine_count

five_star_not_vine_count = len(not_vine_reviews_df[not_vine_reviews_df['star_rating'] == 5])
five_star_not_vine_count

print('Five star vine reviews: {}'.format(five_star_vine_count))
print('Five star not vine reviews: {}'.format(five_star_not_vine_count))

Five star vine reviews: 1018
Five star not vine reviews: 91716

In [21]:
# Find the Percentage of reviews that are 5 star for each subset

five_star_vine_percentage = five_star_vine_count / vine_count
five_star_non_vine_percentage = five_star_not_vine_count / not_vine_count

print('Percentage of vine reviews that are 5 star: {}'.format(five_star_vine_percentage))
print('Percentage of not vine reviews that are 5 star: {}'.format(five_star_non_vine_percentage))

Percentage of vine reviews that are 5 star: 0.4217067108533554
Percentage of not vine reviews that are 5 star: 0.46870879710544877